nav{
	position: fixed;
	z-index: 1000;
}
.menu li a{
	transition: all 0.2s;
	color: white;
	display: inline-block;
	transform: scale(1);
}
.menu li a:visited{
	color:white;
}
.menu li a:hover {
	color: orange;
}
.menu li a:active {
	transform: scale(1.1);
}
.title_container input{
	transition: all 0.2s;
	transform: scale(1);
}
.title_container input:active{
	transform: scale(1.1);
}
.title_container input:hover{
	background: #2c384a;
	color:white;
	border: 2px solid #2c384a;
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.menu li{
	animation: li 0.4s forwards;
	opacity: 0;
}
.name{
	animation: comming 2s
}
@keyframes li{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.8s;
}
.menu li:nth-child(4){
	animation-delay: 1.2s;
}
.menu li:nth-child(5){
	animation-delay: 1.6s;
}
.menu li:nth-child(6){
	animation-delay: 2s;
}
@keyframes title_conteiner{
	from{
		opacity: 0;
		margin-left: -300px;
	}
	to{
		opacity: 1;
	}
}
.title_container{
	opacity: 0;
	animation: title_conteiner 1s ease forwards;
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	-ms-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
	
}
.about_me input{
	transition: all 0.2s;
	transform: scale(1);
}
.about_me input:active{
	transform: scale(1.1);
}
.about_me input:hover{
	background: #6f707e;
	color: white;
}
.cases a{
	transition:all 1s;
	transform: rotate(0deg) ;
	transform: scale(1);
}
.cases a:active{
	
}
.cases a:hover{
	transform: scale(1.1);
	background: #504b50;
	transform: rotate(180deg);
	border: 2px solid #504b50;
}
.kn input{
	transition: all 0.2s;
	transform: scale(1);
}
.kn input:hover{
	transform: scale(1.1);
	background: white;
	color: black;
}
.kn input:active {
	transform: scale(1.3);
}
.price button{
	transition: all 0.2s;
	transform: scale(1);
}
.price button:active{
	transform: scale(1.1);
	color: #63b5ae;
}
.price button:hover{
	border: 2px solid #6f707e;
	background: #6f707e;
	color: white;
}
.connection li a{
	transition: all 0.2s;
	color: white;
	display: inline-block;
	transform: scale(1);
}
.connection li a:visited{
	color:white;
}
.connection li a:active {
	transform: scale(1.4);
}
.menu li a.active{
	color: #EF00DBD4;
}