body{
	font-family: arial, sans-serif;
}
nav{
	width: 100%;
	height:60px;
	background:#344152;
}
.name{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float:left;
}
.menu{
	float: left;
	padding-left: 432px;
}
.menu li{
	float: left;
	line-height: 60px;
	margin-right: 40px;
	font-size: 18px;	
	text-transform: uppercase;
}
.menu a{
color: #fff;
}
.face{
	width: 100%;
	height: 98% ;
	background: url(../img/boy.png)90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title_container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}
.title_container h1{
	font-size: 60px;
	font-weight: bold;
}
.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 99px 14px;
}
.about_me{
	width: 100%;
	height: 65%;
	background: url(../img/bg2.jpg)center no-repeat;
	text-align: center;
	color: #6f707e;
}
.about_me h2{
	color: #263244;
	font-size: 40px;
	font-weight: bold;
	margin-top: 106px;
}
.about_me img{
	margin-top: 95px;
}
.about_me p{
	width: 40%;
	margin: 24px 0px 20px 29.5%;
}
.about_me input{
	margin-top: 20px;
	border: 2px solid #6f707e;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
	font-size: 14px;
	background: none;
}
.skills {
	width: 100%;
	height:60%;
	background: url(../img/bg3.jpg) center no-repeat;
	text-align: center;
	color: #6f707e;
}
.skills h2{
	font-size: 40px;
	font-weight: bold;
	padding:105px;
	color: #263244;
}
.skills_item{
	margin-left: 21.5%;
}
.skills_item li{
	margin-top: 25px;
	float: left;
	width: 12%;
	margin-right: 120px;
}
.skills_item h3{
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}
.skills_item img{
	width: 35%;
}
.cases h2{
	font-size: 40px;
	font-weight: bold;
	color: #384354;
	text-align: center;
}
.cases h4{
	margin-top: 70px;
	text-align: center;
}
.cases img{
	width: 70%;
	margin:40px 0px 40px 16%;
}
.cases_item{
	margin-left: 16%;
	text-align: left;
	float: left;
}
.cases_item h3{
	font-size: 30px;
	font-weight: bold;
	color: #384354;
	margin-top: 10px;
}
.cases_item p{
	margin-top: 10px;
}
.cases_iteme{
	margin-left: 30%;
}
.cases_iteme h3{
	font-size: 30px;
	font-weight: bold;
	color: #384354;
}
.cases_iteme h5{
		width: 70%;
	}
.cases input{
	margin-top: 100px;
	color: #fff;
	border: 2px solid #63b5ae;
	background: #63b5ae;
	padding: 10px 40px;
	margin-left: 20%;
	float: left;
}
.price{
	text-align: center;
	margin-top: 150px;
}
.price h2{
	padding-top: 100px;
	color: #1c2534;
	font-size: 40px;
	font-weight: bold;
	margin:100px 0px 10px 0px; 
}
.price_item{
	margin-top: 50px;
	text-align: left;
	margin-left: 23%;
}
.price_item h3{
	color: #1c2534;
	font-size: 30px
}
.price_item select{
	margin-top: 20px;
	font-size: 15px;
	width: 70%;
	padding:25px;
	background: #eeeeee; 
}
.price ul{
	margin-top: 65px;
	font-size: 30px;
}
.price h3{
	font-weight: bold;
	float: left;
	margin-left: 23%;
}
.state{
	width: 100%;
	height:60%;
	background: url(../img/bg4.jpg) center no-repeat;
	text-align: center;
	color: #6f707e;
}
.state>h2{
	font-size: 40px;
	font-weight: bold;
	padding:105px;
	color: #263244;
}
.state_item{
	margin-left: 21.5%;
}
.state_item li{
	margin-top: 40px;
	float: left;
	width: 12%;
	margin-right: 120px;
	color: #323e4f;
}
.state_item h3{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 1000;
}
.state_item h4{
	font-size: 20px;
}
.state_item img{
	width: 35%;
}
.reviews{
	text-align:center;
}
.reviews h2{
	font-size: 40px;
	font-weight: bold;
	padding:105px;
	color: #263244;
}
.reviews p{
	margin-top: 35px;
}
.connection{
	margin-top: 150px;
	padding-top: 100px;
	width: 100%
	height:100%;
	background: url(../img/bg5.jpg) center no-repeat;
	text-align: center;
	color: #fff;
}
.connection h2{
	font-size: 40px;
	font-weight: bold;
	ma-top: 105px;
}
.connection li{
	float: left;
	margin-left: 56px;
}
.connection ul{
	margin-left:35%; 
}
.connection_img li{
	float: left;
	margin-left: 200px;
}
.connection_img ul{
	margin-top: 45px;
	margin-left:22%;
}
.connection_img p{
	margin-top: 5px;
}
.connection>p{
	margin-top: 69px;
}
.connection h3{
	margin-top: 40px;
	margin-left:40%; 
	font-size: 30px;
	font-weight: bold;
}
.connection input{
	text-align: center;
	margin: 45px ;
}
.connection textarea{
	margin-left:10%; 
	margin-top: 10px;
	width: 40%;
	height: 20%;
}
.kn input{
	border: 2px solid #fff;
	padding: 20px 10px;
	border-radius: 10px;
	background: none;
	color: #fff;
}